In [145]:
%logstop
%logstart -rtq ~/.logs/dw.py append
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [3]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [3]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

--2021-03-21 08:38:48--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.161.65
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.161.65|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19011654 (18M) [text/csv]
Saving to: ‘./dw-data/201701scripts_sample.csv.gz’

201701scripts_sampl 100%[===================>]  18.13M  75.1MB/s    in 0.2s

2021-03-21 08:38:48 (75.1 MB/s) - ‘./dw-data/201701scripts_sample.csv.gz’ saved [19011654/19011654]

--2021-03-21 08:38:49--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.166.3
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.166.3|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18768259 (18M) [text/csv]
Saving to: ‘./dw-data/201606scripts_sample.csv.gz’

201606scripts_sampl 100%[===================>]  17.90M  73.0MB/s    in 0.2s

2021-03-21 08:38:49 (73.0 MB/s) - ‘./dw-data/201606scripts_sample.csv.gz’ saved [18768259/18768259]

--2021-03-21 08:38:50--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.161.65
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.161.65|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 333225 (325K) [application/x-gzip]
Saving to: ‘./dw-data/practices.csv.gz’

practices.csv.gz    100%[===================>] 325.42K  --.-KB/s    in 0.04s

2021-03-21 08:38:50 (8.57 MB/s) - ‘./dw-data/practices.csv.gz’ saved [333225/333225]

--2021-03-21 08:38:50--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.161.65
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.161.65|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31829 (31K) [application/x-gzip]
Saving to: ‘./dw-data/chem.csv.gz’

chem.csv.gz         100%[===================>]  31.08K  --.-KB/s    in 0.006s

2021-03-21 08:38:50 (4.81 MB/s) - ‘./dw-data/chem.csv.gz’ saved [31829/31829]

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [4]:
import pandas as pd
import numpy as np
import gzip

In [5]:
# load the 2017 data
scripts = pd.read_csv('./dw-data/201701scripts_sample.csv.gz',compression='gzip')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [6]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('./dw-data/practices.csv.gz',compression='gzip',names=col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [7]:
chem = pd.read_csv('./dw-data/chem.csv.gz',compression='gzip')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [50]:
stats=scripts.describe()
stats

               items            nic       act_cost       quantity
count  973193.000000  973193.000000  973193.000000  973193.000000
mean        9.133136      73.058915      67.986613     741.329835
std        29.204198     188.070257     174.401703    3665.426958
min         1.000000       0.000000       0.040000       0.000000
25%         1.000000       7.800000       7.330000      28.000000
50%         2.000000      22.640000      21.220000     100.000000
75%         6.000000      65.000000      60.670000     350.000000
max      2384.000000   16320.000000   15108.320000  577720.000000

In [43]:
stats.drop(['min','max'],inplace=True)

In [45]:
total = stats['items'].sum()
total

973240.337334259

In [51]:
items=tuple([scripts['items'].sum()]+list(stats['items'][1:3])+list(stats['items'])[4:-1])
quantity = tuple([scripts['quantity'].sum()]+list(stats['quantity'][1:3])+list(stats['quantity'])[4:-1])
nic = tuple([scripts['nic'].sum()]+list(stats['nic'][1:3])+list(stats['nic'])[4:-1])
act_cost = tuple([scripts['act_cost'].sum()]+list(stats['act_cost'][1:3])+list(stats['act_cost'])[4:-1])

In [52]:
summary_stats = [('items', items), ('quantity', quantity), ('nic', nic), ('act_cost', act_cost)]

In [54]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [ ]:
total_df=scripts.groupby('bnf_name')['items'].sum()

In [73]:
total_df.sort_values()

bnf_name
ReadyWrap Gauntlet Lymph Gmt                     1
Quetiapine_Oral Soln 12.5mg/5ml                  1
Juzo Soft Rib Style Class 1 B/Knee Close         1
Quest_Lactase Tab                                1
Quest_Cell Life Antiox Tab                       1
                                             ...
Amlodipine_Tab 5mg                          128245
Simvastatin_Tab 40mg                        132941
Aspirin Disper_Tab 75mg                     148591
Paracet_Tab 500mg                           151669
Omeprazole_Cap E/C 20mg                     218583
Name: items, Length: 13471, dtype: int64

In [74]:
most_common_item = [("Omeprazole_Cap E/C 20mg", 218583)]

In [75]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [ ]:
practices_unique=(practices.sort_values('post_code')
.drop_duplicates(subset=['code'],keep='first'))

In [28]:
practices_unique['code'].nunique()

10843

In [39]:
scripts_with_post_code = scripts.merge(practices_unique,left_on='practice',right_on='code',how='inner')

In [41]:
scripts_with_post_code.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

In [45]:
outputs=scripts_with_post_code.groupby(['post_code','bnf_name'])['items'].sum().reset_index('bnf_name')

In [46]:
outputs.head()

                                           bnf_name  items
post_code
B11 4BW    3m Health Care_Cavilon Durable Barrier C      7
B11 4BW     3m Health Care_Cavilon No Sting Barrier      2
B11 4BW        Abasaglar KwikPen_100u/ml 3ml Pf Pen      2
B11 4BW                                  Abidec_Dps     63
B11 4BW                  Able Spacer + Sml/Med Mask      1

In [48]:
totals=outputs.groupby('post_code')['items'].sum()
totals.head()

post_code
B11 4BW    22731
B12 9LP    17073
B18 7AL    20508
B21 9RY    31027
B23 6DJ    28011
Name: items, dtype: int64

In [50]:
ratio = outputs['items']/totals

In [53]:
outputs['ratio'] = ratio

In [59]:
def top_row(df):
    return df.sort_values('ratio',ascending=False).iloc[0]

In [63]:
result= outputs.groupby('post_code').apply(top_row)
result =result.reset_index().loc[:,['post_code','bnf_name','ratio']][:100]
result.head()

  post_code                            bnf_name     ratio
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF  0.031059
1   B12 9LP                   Paracet_Tab 500mg  0.024893
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF  0.027111
3   B21 9RY             Metformin HCl_Tab 500mg  0.033294
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)  0.021384

In [ ]:
items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.0310589063)] * 100

In [64]:
grader.score.dw__items_by_region(result)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [8]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [9]:
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

In [15]:
chem.shape

(3481, 3)

In [11]:
chem=chem.sort_values('CHEM SUB').drop_duplicates(subset=['CHEM SUB'], keep='first')

In [12]:
def is_opioid(drug_name,opioids):
    return any([opioid in drug_name.lower() for opioid in opioids])

In [13]:
re_opiods='|'.join(opioids)
re_opiods

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

In [14]:
chem['is_opioid']=chem['NAME'].str.lower().str.contains(re_opiods)

In [16]:
chem.head()

     CHEM SUB                                NAME  is_opioid
18  010101000    Other Antacid & Simeticone Preps      False
0   0101010A0                     Alexitol Sodium      False
1   0101010B0                          Almasilate      False
2   0101010C0                 Aluminium Hydroxide      False
3   0101010D0  Aluminium Hydroxide With Magnesium      False

In [17]:
scripts.merge(chem,left_on='bnf_code',right_on='CHEM SUB').shape

(854444, 10)

In [18]:
scripts= scripts.merge(chem,left_on='bnf_code',right_on='CHEM SUB',how='left').fillna(False)

In [19]:
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,CHEM SUB,NAME,is_opioid
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,0106020C0,Bisacodyl,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,0106040M0,Macrogol 3350,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,0301011R0,Salbutamol,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,0304010G0,Chlorphenamine Maleate,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,0401020K0,Diazepam,False

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [20]:
opioids_per_practice=scripts.groupby('practice')['is_opioid'].mean()
opioids_per_practice

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
            ...
Y05570    0.090909
Y05583    0.000000
Y05597    0.000000
Y05660    0.023055
Y05670    0.000000
Name: is_opioid, Length: 856, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [21]:
relative_opioids_per_practice = opioids_per_practice - scripts['is_opioid'].mean()

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [22]:
standard_error_per_practice = scripts['is_opioid'].std()/(scripts['practice'].value_counts())**0.5

In [23]:
standard_error_per_practice

N83028    0.003484
L83100    0.003513
D81043    0.003747
B81008    0.003796
B81026    0.003835
            ...
Y03472    0.185798
Y01174    0.185798
Y03179    0.185798
Y05366    0.185798
Y03010    0.185798
Name: practice, Length: 856, dtype: float64

In [25]:
opioid_scores = relative_opioids_per_practice/standard_error_per_practice

In [26]:
opioid_scores

A81005   -0.548306
A81007    1.544557
A81011    2.291795
A81012    1.373060
A81017    0.583168
            ...
Y05570    1.391142
Y05583   -1.019657
Y05597   -0.817544
Y05660   -1.278102
Y05670   -0.667522
Length: 856, dtype: float64

In [27]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [29]:
unique_practices = practices.sort_values('name').drop_duplicates(subset=['code'],keep='first')

In [30]:
unique_practices = unique_practices.set_index('code')
unique_practices['z_score']=opioid_scores
unique_practices['number']=scripts['practice'].value_counts()

In [31]:
result=unique_practices.sort_values('z_score',ascending=False).head(100).loc[: ,['name','z_score','number']]

In [32]:
result.head()

                                   name    z_score  number
code
Y01852        NATIONAL ENHANCED SERVICE  11.695818     7.0
Y03006         OUTREACH SERVICE NH / RH   7.339043     2.0
Y03668  BRISDOC HEALTHCARE SERVICES OOH   6.150582    60.0
G81703           H&R P C SPECIAL SCHEME   5.123032    36.0
Y04997                   HMR BARDOC OOH   4.958866   321.0

In [ ]:
anomalies = [("NATIONAL ENHANCED SERVICE", 11.6958178629, 7)] * 100

In [ ]:
results.head()

In [33]:
grader.score.dw__script_anomalies(result)

==================
Your score:  1.0
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [43]:
scripts16 = pd.read_csv('dw-data/201606scripts_sample.csv.gz')

In [44]:
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [45]:
percentage_growth=scripts['bnf_name'].value_counts()/scripts16['bnf_name'].value_counts()  -1

In [46]:
percentage_growth = percentage_growth.rename('growth_rate')

In [47]:
percentage_growth.head()

365 Film 10cm x 12cm VP Adh Film Dress      NaN
365 Film 15cm x 20cm VP Adh Film Dress      NaN
365 Film 4cm x 5cm VP Adh Film Dress        NaN
365 Non Adherent 10cm x 10cm Pfa Plas Fa    0.0
365 Non Adherent 10cm x 20cm Pfa Plas Fa    NaN
Name: growth_rate, dtype: float64

In [65]:
result = percentage_growth.to_frame()

In [66]:
result['raw_count'] = scripts16['bnf_name'].value_counts()

In [67]:
result=result.query('raw_count>=50')

In [68]:
# result['growth_rate'] = result['growth_rate'].fillna(-1)
result= result.dropna()

In [69]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3485 entries, 3m Health Care_Cavilon Durable Barrier C to Zumenon_Tab 1mg
Data columns (total 2 columns):
growth_rate    3485 non-null float64
raw_count      3485 non-null float64
dtypes: float64(2)
memory usage: 81.7+ KB

In [55]:
result =result.sort_values('growth_rate',ascending=False)

In [56]:
result.head()

                                          growth_rate  raw_count
Butec_Transdermal Patch 5mcg/hr              3.467742       62.0
Butec_Transdermal Patch 10mcg/hr             3.000000       69.0
Fostair NEXThaler_Inh 200mcg/6mcg (120D)     1.430233       86.0
Pneumococcal_Vac 0.5ml Vl (23 Valent)        1.269430      193.0
Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev     1.269231       52.0

In [57]:
output = pd.concat([result.head(50),result.tail(50)]).reset_index().rename({'index':'bnf_name'},axis=1)

In [58]:
output.head()

                                   bnf_name  growth_rate  raw_count
0           Butec_Transdermal Patch 5mcg/hr     3.467742       62.0
1          Butec_Transdermal Patch 10mcg/hr     3.000000       69.0
2  Fostair NEXThaler_Inh 200mcg/6mcg (120D)     1.430233       86.0
3     Pneumococcal_Vac 0.5ml Vl (23 Valent)     1.269430      193.0
4  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev     1.269231       52.0

In [ ]:
script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [59]:
grader.score.dw__script_growth(output)

==================
Your score:  1.0
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [77]:
p = 1/ scripts['bnf_code'].nunique()

In [78]:
rates = scripts['bnf_code'].value_counts()/scripts.shape[0]

In [79]:
rates

0906040G0    0.014840
090402000    0.011016
0302000N0    0.010214
130201000    0.008839
0601060D0    0.008799
               ...
030902040    0.000001
230507005    0.000001
1501030D0    0.000001
0802040J0    0.000001
0203020U0    0.000001
Name: bnf_code, Length: 1975, dtype: float64

In [80]:
rare_codes = rates < 0.1 * p

In [84]:
rare_codes

0906040G0    False
090402000    False
0302000N0    False
130201000    False
0601060D0    False
             ...
030902040     True
230507005     True
1501030D0     True
0802040J0     True
0203020U0     True
Name: bnf_code, Length: 1975, dtype: bool

In [85]:
scripts = scripts.set_index('bnf_code')

In [86]:

scripts['rare'] = rare_codes

In [87]:
scripts.head()

,practice,bnf_name,items,nic,act_cost,quantity,rare
bnf_code,,,,,,,
0106020C0,N85639,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
0106040M0,N85639,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
0301011R0,N85639,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
0304010G0,N85639,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
0401020K0,N85639,Diazepam_Tab 2mg,1,0.16,0.26,6,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [91]:
rare_total_cost=scripts.query('rare==True').groupby('practice')['act_cost'].sum()

In [92]:
all_cost_total=scripts.groupby('practice')['act_cost'].sum()

In [97]:
rare_cost_prop = (rare_total_cost/all_cost_total).fillna(0)

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [134]:
relative_rare_cost_prop = rare_cost_prop - scripts.query('rare==True')['act_cost'].sum()/scripts['act_cost'].sum()

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [135]:
standard_errors = relative_rare_cost_prop.std()

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [136]:
rare_scores = relative_rare_cost_prop/ standard_errors

In [126]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('./dw-data/practices.csv.gz',compression='gzip',names=col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [128]:
practices_unique=practices.sort_values('name').drop_duplicates(subset='code',keep='first')

In [129]:
practices_unique = practices_unique.set_index('code')

In [137]:
practices_unique['rare_scores'] = rare_scores

In [138]:
practices_unique.head()

,name,addr_1,addr_2,borough,village,post_code,rare_scores
code,,,,,,,
P87657,(IRLAM) SALFORD CARE CTRS MEDICAL PRACTI,SALFORD CARE CTR(IRLAM),125 LIVERPOOL ROAD,IRLAM,MANCHESTER,M44 6DP,NaN
Y05381,0-19 EAST CHESHIRE HEALTH VISITORS,SALINAE CLINIC,LEWIN STREET,MIDDLEWICH,CHESHIRE,CW10 9FG,NaN
Y04082,0-19 PUBLIC HEALTH SERVICE HARTLEPOOL,CHATHAM CHILDRENS CENTRE,29 CHATHAM ROAD,HARTLEPOOL,NaN,TS24 8QG,NaN
Y00364,1 TO 1 CENTRE,BRENKLEY AVENUE,SHIREMOOR,NEWCASTLE UPON TYNE,NaN,NE27 0PR,NaN
P87652,1/LOWER BROUGHTON MEDICAL PRACTICE,LOWER BROUGHTON HTH.CTR.,GREAT CLOWES STREET,SALFORD,NaN,M7 1RD,-0.156754

In [139]:
rare_scripts = (practices_unique.reset_index()[['code','name','rare_scores']]
                .sort_values('rare_scores',ascending=False)).head(100)

In [140]:
rare_scripts

        code                               name  rare_scores
2192  Y03472           CONSULTANT DIABETES TEAM    16.262687
2661  Y05320     DMC COMMUNITY DERMATOLOGY RBWF    15.128648
6789  Y04404  OUTPATIENTS JUBILEE HEALTH CENTRE     7.542139
2659  Y03484   DMC COMMUNITY DERMATOLOGY CLINIC     7.287222
2668  Y04424                     DMC HEALTHCARE     6.838614
...      ...                                ...          ...
9466  Y02671     THE PRACTICE HEART OF HOUNSLOW     0.208809
3046  F84631                       DR PI ABIOLA     0.205391
2768  B81012                        DR AP KUMAR     0.203691
1320  C83613              CAISTOR HEALTH CENTRE     0.203500
8640  M91614                    STROUD PRACTICE     0.200505

[100 rows x 3 columns]

In [ ]:
rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [141]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  1.0
==================

*Copyright &copy; 2020 The Data Incubator.  All rights reserved.*